# Name: CT_Segmentation
# Author: Salim Kanoun

Plugins>Nuclear Medicine>Tools, "CT Segmentation", org.petctviewer.petcttools.ctsegmentation.CT_Segmentation
Plugins, "PyRadiomics", org.petctviewer.petcttools.pyradiomics.Radiomics_Frame
Plugins>Nuclear Medicine>Tools, "CSV Collector", org.petctviewer.petcttools.csvcollector.Csv_Collector
File>Import, "Read DICOM", org.petctviewer.petcttools.reader.Dicom_Reader
